In [2]:
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
import sys
! {sys.executable} -m pip install openpyxl
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: openpyxl in c:\users\lucy\anaconda3\envs\geospatial\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\lucy\anaconda3\envs\geospatial\lib\site-packages (from openpyxl) (2.0.0)

In [6]:
new_df = pd.read_excel('merged_updated_1009.xlsx')

In [8]:
new_libs = pd.read_excel('libraries_updated.xlsx')

In [10]:
new_parks = pd.read_excel('parks_updated.xlsx')

In [14]:
new_df.rename(columns={'school_name': 'name'}, inplace=True)

In [18]:
new_libs.rename(columns={'FacilityName': 'name'}, inplace=True)

In [20]:
new_parks.rename(columns={'FacilityName': 'name'}, inplace=True)

In [22]:
combined_df = pd.concat([new_df, new_libs, new_parks], ignore_index = True, axis=0)

In [24]:
combined_df

,school_number,name,wida_student_group,wida_exit_denom,wida_n_exit,wida_pct_exit,wida_growth_standard_denom,wida_n_met_growth_standard,wida_pct_met_growth_standard,wida_literacy_avg,...,Notes,geometry,GlobalID,FacilityType,NameAbbrev,State,Email,Website,Description,YearEstablished
0,1.0,A. Z. Kelley Elementary,All Students,304.0,**,**,189.0,80,42.3,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,Alex Green Elementary,All Students,70.0,5,7.1,47.0,20,42.6,2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10.0,Amqui Elementary,All Students,195.0,16,8.2,124.0,65,52.4,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15.0,Andrew Jackson Elementary,All Students,45.0,**,**,32.0,16,50,2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45.0,Bellshire Elementary,All Students,71.0,**,**,40.0,17,42.5,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,NaN,Centennial Administrative Headquarters Building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,POINT (-86.8206631117148 36.1471681262194),1fc573e1-9bc4-4463-8201-dec7d0ae05c2,Administrative,The Rock,TN,NaN,,James H. Fyke Administrative Complex - Headqua...,1929.0
199,NaN,Centennial Administrative Storeroom/Rec. Building,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,POINT (-86.8206972537226 36.1481116638438),cc7a7d5c-cd76-489c-85b8-e40b0378a700,Administrative,Rec. Building,TN,NaN,,Storeroom/Outdoor Rec/Greenways for Nashville/...,NaN
200,NaN,Centennial Sportsplex Fitness & Tennis Center,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,POINT (-86.8092567857896 36.1510506827356),97328c87-9d66-4db5-a8b9-b99d88839479,Athletic,Sportsplex Fitness,TN,NaN,,NaN,1990.0
201,NaN,Centennial Sportsplex indoor tennis courts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,POINT (-86.8099455747232 36.1511247536442),46ecd154-d971-4f00-9348-7627a0b04393,Athletic,SP Indoor Tennis,TN,NaN,,NaN,1990.0
202,NaN,Bells Bend - Poplar Creek Trailhead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,POINT (-86.9265755250459 36.1562990912992),f1756585-34db-47e6-b7ab-714ed6445f0b,Trailhead,Poplar Creek TH,TN,NaN,,Poplar Creek Trailhead,NaN

In [26]:
combined_df.to_excel('combined_df.xlsx', index=False)